@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-xl px-4 py-4 mx-auto md:max-w-6xl md:px-6;
}

.input {
  @apply block w-full mt-1 border border-gray-300 rounded-md focus:border-white focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}
